.jumbotron{
	background-image: url(assets/jumbotronPic.jpg);
	background-size: cover;
	color: white;
	font: garamond;
	
}	

body{
	background-size: cover;
}

.github{
	position: fixed; 
	bottom: 400px;
	right: 500px;
}

.education{

}

.Profile{
	border-radius: 50%;
	border: 5px solid #ecf0f1;
	width: 50%;
	max-width: 150px;
	position: fixed;
	bottom: 400px;
	right:200px;
}

a:visited{
	color: blue;
}

a:hover{
	color: #2980b9;
}
